<div class="container">
  <div id='container' ng-controller="UploadController">
    <div class="container">

      <form class="form-horizontal" role="form" novalidate name="fileUpload">

        <div class="form-group grumpInput" id="grumpInputHeading">
          <label class="control-label col-sm-2">Upload New Grump</label>
          <!-- <span class='fieldlabel'>Upload New Grump File</span> -->
        </div>

        <div class="form-group">
          <label class="control-label col-sm-2" for='urlInput'>
            Github Repo
          </label>
          <!-- <span class='fieldlabel'>Github repo</span> -->
          <!-- <input type='repo' class='textbox' ng-model ="doc.repo" placeholder="Currently we support public repositories only" required> -->
          <input class="textbox form-control" ng-model="doc.repo" placeholder="Public repos only. Don't forget your grump.json!" id='urlInput' required>
        </div>

        <div class="form-group">
          <!-- <span class='fieldlabel'>Grump Name</span>  -->
          <label class="control-label col-sm-2" for="grumpName">
            Grump Command Name
          </label>
          <input class='taskinput form-control' type='text' ng-pattern='/^[a-zA-Z0-9]*$/' ng-model="doc.defaultCommand" placeholder="Command to be invoked in grump." id='grumpName' required>
        </div>

        <div class="form-group">
          <!-- <span class='fieldlabel'>Run File</span> -->
          <label class="control-label col-sm-2" for="jsFile">
            Description
          </label>
          <input type='text' input='text' class='form-control' ng-model ="doc.description" placeholder="Describe your grump" id='jsFile' required>
        </div>        

        <div class='form-group'>
          <div class='col-sm-offset-2 col-sm-10'>
            <button type="submit" class="grumpInput btn btn-default" id="grumpInputButton" ng-click="submitForm(doc)" >Grump it</button>
          </div>
        </div> 

      </form>
    </div>  
  </div>