<div id='container' ng-controller="UploadController">
  <form novalidate name="fileUpload">
    <div class="grumpInput" id="grumpInputHeading">
      <span class='fieldlabel'>Upload New Grump File</span>
    </div>
    <div class="grumpInput">
      <span class='fieldlabel'>Github repo</span>
      <input type='repo' class='textbox' ng-model ="doc.repo" placeholder="Currently we support public repositories only" required>
    </div>

    <div class="grumpInput">
      <span class='fieldlabel'>Run File</span>
      <input input='text' ng-model ="doc.runFile" placeholder="runMeOnCommand.js (currently must be in your root directory)" required>
    </div>
    
    <div class="grumpInput">
      <span class='fieldlabel'>Command Name</span> 
      <input class='taskinput' type='text' ng-pattern='/^[a-zA-Z0-9]*$/' ng-model="doc.command" placeholder="this is what will be invoked in grump" required>
    </div>
    
    <button class="grumpInput" id="grumpInputButton " type="submit" ng-click="submitForm(doc)" >Grump it</button>
  
  </form>
</div>