<div class="row">
<div class='container'>
  <div class="col-md-6 col-sm-6 col-lg-6" ng-controller="UploadController">

      <form class="form-horizontal" role="form" novalidate name="fileUpload">

        <div class="form-group grumpInput" id="grumpInputHeading">
          <label class="control-label ">Upload New Grump</label>
        </div>

        <div class="form-group">
          <label class="control-label " for='urlInput'>
            Github Repo
          </label>
          <input class="textbox form-control col-sm-2" ng-model="doc.repo" placeholder="Public repos only. Don't forget your grump.json!" id='urlInput' required>
        </div>

        <div class="form-group">
          <label class="control-label" for="grumpName">
            Grump Command Name
          </label>
          <input class='taskinput form-control' type='text' ng-pattern='/^[a-zA-Z0-9]*$/' ng-model="doc.defaultCommand" placeholder="Command to be invoked in grump." required>
        </div>

        <div class="form-group">
          <label class="control-label " for="jsFile">
            Description
          </label>
          <input type='text' input='text' class='form-control' ng-model ="doc.description" placeholder="Describe your grump" id='jsFile' required>
        </div>        
        <div class="text-center">      
          <button type="submit" class="grumpInput btn btn-default" id="grumpInputButton" ng-click="submitForm(doc)" >Grump it</button>
        </div>      
      </form>
  </div>
</div>
</div>