<div class="container">
  <form class='form-horizontal' role='form' name="searchForm">
    <label class="control-label col-sm-4" for="grumpSearchBox">
      Search Grumps
    </label>
    <input type='text' input='text' class='form-control grumpSearch' id="grumpSearchBox" placeholder="Search..." ng-model='searchText'>
  </form>
</div>

<div ng-controller="BrowseController" ng-init="getGrumps()" >
  <div class="container">
    <div class="row">
      <div class="panel panel-default text-center">

        <fieldset class="col-md-3 col-sm-6 grump" ng-repeat="grump in grumps | orderBy:'command' | filter:searchText">
          <div class='well'>
            <p class="grumpDetail" id="name">Grump Name: {{grump.defaultCommand}}</p>
            <p class="grumpDetail" id="owner">Author: {{grump.author}}</p>
            <p class="grumpDetail" id="description">Description: {{grump.description}}</p>
            <p class="grumpDetail" id="repo">Repo: <a ng-href="{{grump.cloneUrl}}">{{grump.repoName}}</a></p>
          </div> 
        </fieldset>
      </div>
    </div>
  </div>
</div>