<div id='container' ng-controller="BrowseController" ng-init="getGrumps()">
  <form name="searchForm">
      <input type='text' ng-model='searchText'>
  </form>

 <fieldset class="grump" ng-repeat="grump in grumps  | orderBy:'command' | filter:searchText">
      <span class="grumpDetail" id="name">name: {{grump.command}}</span>
      <span class="grumpDetail" id="owner">owner: {{grump.owner.login}}</span>
      <span class="grumpDetail" id="description">description: {{grump.description}}</span>
      <span class="grumpDetail" id="repo">repos:<a ng-href="{{grump.url}}">repo</a></span>
 </fieldset>
</div>