<div class="container col-lg-6 col-centered" id="grumpSearchContainer">
  <form class='form-horizontal' role='form' name="searchForm">
    <label class="control-label " for="grumpSearchBox">
      Search Grumps
    </label>
    <input type='text' input='text' class='form-control grumpSearch' id="grumpSearchBox" placeholder="Search..." ng-model='searchText'>
  </form>
</div>

<div ng-controller="MyGrumpsController" ng-init="getMyGrumps()" >
  <div class="container col-centered">
    <div class="row">
      <div class="col-lg-12 col-centered grump" ng-repeat="grump in grumps  | orderBy:'command' | filter:searchText">
        <div class="panel panel-default text-left">
            <span class="grumpDetail" id="name"><b>Grump Name</b>: {{grump.defaultCommand}}</span>
            <span class="grumpDetail" id="owner"><b>Author</b>: {{grump.author}}</span>
            <span class="grumpDetail" id="description"><b>Description</b>: {{grump.description}}</span>
          <span class="grumpDetail" id="repo"><b>Repo</b>: <a ng-href="{{grump.cloneUrl}}">{{grump.repoName}}</a></span>
          <button class="update btn btn-default" ng-click="updateGrump(grump._id)">Update</button>
          <button class="delete btn btn-default" ng-click="deleteGrump(grump._id)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>