/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #282828;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  background-color: #fbf1c7;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/******End CSS Reset *******************************/

.navigation {
  width: 100%;
  height: 40px;
  background-color: #d5c4a1;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation li {
  float: left;
}

.navigation li a {
  width: 100px;
  height: 20px;
  line-height: 20px;
  padding: 10px;
  display: block;
  text-align: center;
}

.navigation li a:hover {
  background-color: #a89984;
}

.navigation li a:link {
  text-decoration: none;
}

.navigation li a.selected {
  background-color: #ccc;
}

.fieldlabel {
  display:inline-block;
  width:200px;
}

.grumpDetail {
  display:block;
  padding-left: 22px ;
  text-indent: -22px ;
}

.grump {
  display: inline-block;
  background-color: #83a598;
  border-style: solid;
  border-width: 0px;
  padding: 5px;
  margin: 10px; 
  max-width: 400px;
  border-radius: 5px;
}

.hanging-indent
{
  text-indent : -3em ;
  margin-left :  3em ;
}

a:visited {
  color: #8f3f71;
}

a:link {
    color: #076678;
}

input {
  display: inline-block;
  width: 300px;
  height: 50px;
  background: #8ec07c;
  color: #282828;
  border: none;
  margin: 10px;
  font-size: 10pt;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


button {
  margin: 50px;
  float: auto;
  background-color: #7c6f64;
}

